.contact-page{
    background-image: url("../assets/photo-1618773928121-c32242e63f39.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    margin: auto;
    text-align: center;
    height: 97vh;
    margin-left: 100px;
    margin-right: 100px;
    color:black;
    background-attachment: fixed;
    filter: brightness(1.75);
    padding-top: 10%;
    font-family: 'Libre Baskerville', serif;
    background-attachment: fixed;

    

}