body {
font-family: 'Libre Baskerville', serif;
font-family: 'Lora', serif;
font-family: 'Playball', cursive;
/* background-image: url("paper.gif"); */
background-attachment: fixed;
background-color:  #C5A880;
background-size: auto;

}
h1 {
    text-align: center;
}
P {
    text-align: center;
    padding: 10px 0px;
    margin: 10px,20px;
    

}
div {
    text-align: center;
}
img {
    max-width: 100%;
    border-radius: 8px;
  }
  /* .image {
    flex-basis: 40% */

  }
  /* .text {
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Cardo', serif; */

  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  /* .row::after {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 10px;
  } */


 