* {
	font-family: "Hurricane", cursive;
	font-family: "Poppins", sans-serif;
    font-family: 'Playball', cursive;
	font-family: "Raleway", sans-serif;
	font-family: "Ubuntu", sans-serif;
}
.intro {
	height: 100vh;
	background-image: url("../images/reservation.jpg");
	background-size: 100%;
	/* background-repeat: no-repeat; */
	width: 100%;
}
.intro-page h2 {
	text-align: center;
	padding-top: 20rem;
	color: rgb(230, 135, 11);
	font-size: 3em;
	font-weight: 900;
}
.display img {
	height: 25rem;
}
.head-underline{
color: burlywood;
}

.meals-booking p {
	font-family: "Ubuntu";
	font-style: italic;
}
.display h2{
    text-align: center;
    text-decoration: underline #C5A880 1rem;
    margin: 2rem;
    font-family: 'Playball', cursive;
    font-style: italic;
    font-size: xx-large;
}