*{
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: rgb(134 126 122);
}
.container{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.pic{
    width: 300px;
    height: 350px;
    position: relative;
    object-fit: cover;
}
.card{
    height: 700px;
    width: 300px;
    margin: 20px;
    border-radius: 20px 20px 20px 20px;
    background: beige;
}
.card:hover{
    transform: scale(0.9);
}
.info{
    padding: 20px 0;
    background: rgb(beige brown );
    border-radius: 0px 0px 10px 10px;
}
.text-1{
    text-align: center;
    font-size: 21px;
    color: #040f74;
}
.text-2{
    margin: 10px 20px;
    padding: 10px 0;
    text-align: center;
}
@media(max-width:1000px)
{
    .container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        }
}
