*{
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: rgb(beige brown );
}
.container{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.pic{
    width: 250px;
    height: 350px;
    position: relative;
    object-fit: cover;
}
.card{
    height: 600px;
    width: 250px;
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
    background: beige;
}
.info{
    padding: 20px 0;
    background: rgb(beige brown );
    border-radius: 0px 0px 10px 10px;
}